.add-Story-modal {
  position: absolute;
  align-self: center;
  justify-self: center;
  inset: 40px;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  border-radius: 1.5em;
  outline: none;
  min-width: 35vw;
  min-height: 68vh;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 3vh;
  padding: 3em;
  font-weight: 600;
}

.add-Story-modal .cross-icon {
  position: absolute;
  top: 2vh;
  right: 1vw;
  cursor: pointer;
  height: 3.3vh;
  width: 1.5vw;
}

.add-Story-modal .modal-heading {
  display: flex;
}

.slides {
  display: flex;
  flex-direction: column;
  gap: 4vh;
}

.slide-buttons {
  display: flex;
  justify-content: flex-start;
  gap: 2vw;
}

.slide-buttons .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5vw;
  height: 8vh;
  border-radius: 0.7em;
  font-size: 1.4em;
  font-weight: 600;
  box-shadow: 0px 0px 8px 0px #00000026;
  cursor: pointer;
}

.slide-buttons .slide-delete-icon {
  position: absolute;
  top: 0.2vh;
  right: 0.3vw;
  height: 1.8vh;
  width: 0.8vw;
  cursor: pointer;
}

.slide-buttons .selected {
  border: 2px solid #73abff;
  border-radius: 0.7em;
}

.slide-form {
  font-size: 1.7em;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  margin-top: 0;
  margin-bottom: 0;
}

.slide-form > div:not(.slide-navigator-buttons) {
  margin-left: 2vw;
  display: flex;
  justify-content: space-between;
  width: 75%;
}

.slide-form .inputs {
  display: flex;
  flex-direction: column;
}

.slide-form .inputs input,
.slide-form .inputs textarea {
  width: 15vw;
  height: 2.8vh;
  border: 2px solid black;
  padding: 0.5em;
  font-size: 0.9em;
}
.slide-form .inputs textarea {
  height: 12vh;
  resize: none;
  overflow: auto;
}
.slide-form .inputs .dropdown {
  padding: 0.3em;
  width: 16.2vw;
  height: 4.7vh;
  border: 2px solid black;
  font-size: 0.9em;
}

.slide-form .category-hint {
  position: absolute;
  font-size: 0.5em;
  width: 6vw;
  right: 5%;
  bottom: 18%;
}

.slide-form .image-video-label {
  display: none;
}

::placeholder {
  font-size: 0.9em;
}

.slide-form .inputs .error-message {
  color: red;
  font-size: 0.5em;
}

.slide-form .inputs .error {
  border: 1px solid red;
  color: red;
}

.slide-form .inputs .error::placeholder {
  color: red;
}

.slide-form .slide-navigator-buttons {
  position: absolute;
  bottom: 5%;
  left: 10%;
  display: flex;
  justify-content: space-between;
  width: 12vw;
  font-size: 0.6em;
}

.previous-button {
  background-color: #7eff73;
  width: 5vw;
}

.next-button {
  background-color: #73abff;
  width: 5vw;
}

.post-button {
  position: absolute;
  right: 5%;
  bottom: 5%;
  background-color: #ff7373;
  width: 5vw;
  font-size: 0.7em;
}

@media only screen and (min-width: 450px) {
  .add-Story-modal .modal-heading {
    justify-content: right;
    font-size: 1em;
  }

  .add-Story-modal .modal-heading .slide-limit-text {
    display: none;
  }
}

@media only screen and (max-width: 450px) {
  .add-Story-modal {
    width: 65vw;
    min-height: 57vh;
    gap: 2vh;
  }

  .add-Story-modal .cross-icon {
    top: 1vh;
    right: 2vw;
    width: 6.8vw;
  }

  .add-Story-modal .modal-heading {
    justify-content: center;
    font-size: 2em;
    font-weight: 800;
  }

  .add-Story-modal .modal-heading .add-slides-text {
    display: none;
  }

  .slides {
    flex-direction: row;
    gap: 2vw;
  }

  .slide-buttons {
    margin-top: 0;
    justify-content: center;
  }

  .slides > div {
    flex-direction: column;
  }

  .slide-buttons .buttons {
    width: 12vw;
    height: 6vh;
    flex-direction: column;
  }

  .slide-buttons .slide-delete-icon {
    height: 1.3vh;
    width: 2.3vw;
  }

  .slide-form {
    gap: 3vh;
  }

  .slide-form > div {
    flex-direction: column;
    width: fit-content;
  }

  .slide-form .inputs input,
  .slide-form .inputs textarea {
    width: 43vw;
    height: 2vh;
    padding: 0.3em;
  }

  .slide-form .inputs textarea {
    height: 12vh;
  }

  .slide-form .category-hint {
    display: none;
  }

  .slide-form .inputs .dropdown {
    width: 46vw;
    height: 3.8vh;
  }

  .slide-form .image-label {
    display: none;
  }
  .slide-form .image-video-label {
    display: block;
  }

  .slide-form .slide-navigator-buttons {
    display: none;
  }

  .post-button {
    right: 40%;
    bottom: 3%;
    width: 17vw;
  }
}
