.stories-section {
  margin-top: 4vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4vh;
  margin-bottom: 5vh;
}

.stories {
  display: flex;
  flex-direction: column;
  gap: 4vh;
  align-items: center;
  justify-content: center;
}

.stories .story-heading {
  font-size: 1.5em;
  font-weight: 600;
}

.stories .story-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 80vw;
  row-gap: 3vh;
  justify-content: center;
}

.stories .story-cards .card {
  position: relative;
  border-radius: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.story-cards .card .story-image {
  width: 17vw;
  height: 60vh;
  border-radius: 1em;
  cursor: pointer;
}

.story-cards .card .story-info {
  position: absolute;
  color: white;
  bottom: 5%;
  left: 14%;
  width: 15vw;
}

.story-cards .card .story-info .heading {
  width: 10vw;
  text-wrap: pretty;
  font-size: 1.8em;
  font-weight: 600;
}

.story-cards .card .story-info .description {
  font-size: 1em;
}

.story-cards .card .edit-icon {
  position: absolute;
  bottom: -4%;
  left: 38%;
  height: 2vw;
  width: 9vh;
  cursor: pointer;
}

@media only screen and (max-width: 450px) {
  .stories-section {
    margin-top: 3vh;
    margin-bottom: 4vh;
    gap: 3vh;
  }

  .stories {
    gap: 2vh;
  }

  .stories .story-cards {
    grid-template-columns: none;
    width: fit-content;
    row-gap: 2vh;
  }

  .story-cards .card .story-image {
    width: 85vw;
    height: 63vh;
  }

  .story-cards .card .story-info {
    left: 8%;
    width: 70vw;
    bottom: 7%;
  }

  .story-cards .card .story-info .heading {
    font-size: 2.1em;
    font-weight: 600;
  }

  .story-cards .card .story-info .description {
    font-size: 1.3em;
  }

  .story-cards .card .edit-icon {
    bottom: -1%;
    left: 37%;
    height: 10vw;
    width: 10vh;
  }

  .stories-hide-mobile {
    display: none;
  }
}

.show-more {
  background-color: #ff7373;
}

@media only screen and (max-width: 450px) {
  .show-more {
    width: 15vw;
    font-size: 1.4em;
  }
}

.no-stories {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}
