.story-view-modal {
  position: absolute;
  background: transparent;
  outline: none;
  width: 35vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5vw;
}

.slide-view {
  position: relative;
}

.slide-view .story-slide {
  width: 20vw;
  height: 75vh;
  border-radius: 1em;
  box-shadow: 0px 0px 30px -13px #ffffffe2;
}

.slide-view .slide-view-cross-icon {
  position: absolute;
  top: 8%;
  left: 5%;
  height: 2.2vh;
  width: 1vw;
  cursor: pointer;
}

.slide-view .share-icon {
  position: absolute;
  top: 8%;
  right: 6%;
  height: 2.7vh;
  width: 1.3vw;
  cursor: pointer;
}

.slide-navigators {
  position: absolute;
  cursor: pointer;
}

.left-navigator {
  left: 0%;
}

.right-navigator {
  right: 0%;
}

.story-view-modal .story-info {
  position: absolute;
  color: white;
  bottom: 12%;
  left: 5%;
  width: 18vw;
}

.story-view-modal .story-info .heading {
  width: 12vw;
  text-wrap: pretty;
  font-size: 1.8em;
  font-weight: 600;
}

.story-view-modal .story-info .description {
  font-size: 1em;
}

.story-view-modal .bookmark {
  position: absolute;
  bottom: 4%;
  left: 13%;
  height: 3.8vh;
  width: 1.4vw;
  cursor: pointer;
}

.story-view-modal .likes {
  position: absolute;
  bottom: 4%;
  right: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5vw;
}

.story-view-modal .likes img {
  height: 4vh;
  width: 1.8vw;
  cursor: pointer;
}

.story-view-modal .likes-count {
  color: white;
  font-size: 1.3em;
}

.slide-tiles {
  position: absolute;
  top: 3%;
  display: flex;
  flex-wrap: wrap;
  width: 18vw;
  justify-content: space-between;
}

.slide-tiles > * {
  /* width: fit-content; */
  flex: 1 1 calc(18vw / 6);
  /* width: calc(18vw / 6); */
  /* box-sizing: border-box; */
}

@media only screen and (max-width: 450px) {
  .slide-view .slide-view-cross-icon {
    top: 7%;
    height: 2.8vh;
    width: 6.4vw;
  }

  .slide-view .share-icon {
    top: 7%;
    height: 3.5vh;
    width: 8vw;
  }

  .slide-navigators {
    height: 70vh;
    width: 50vw;
    opacity: 0;
  }

  .story-view-modal {
    width: 100vw;
    height: 100vh;
  }

  .slide-view .story-slide {
    border-radius: 0;
    box-shadow: none;
    width: 100vw;
    height: 92vh;
    object-fit: cover;
  }

  .slide-tiles {
    top: 8%;
    width: 90vw;
  }

  .slide-tiles > * {
    /* width: fit-content; */
    flex: 1 1 calc(90vw / 6);
    /* width: calc(90vw / 6); */
    /* box-sizing: border-box; */
  }

  .story-view-modal .story-info {
    bottom: 12%;
    left: 8%;
    width: 85vw;
  }

  .story-view-modal .story-info .heading {
    width: 50vw;
    font-size: 2.5em;
    font-weight: 600;
  }

  .story-view-modal .story-info .description {
    font-size: 1.5em;
  }

  .story-view-modal .bookmark {
    bottom: 5%;
    height: 4.7vh;
    width: 8vw;
  }

  .story-view-modal .likes {
    bottom: 5%;
    gap: 1.5vw;
  }

  .story-view-modal .likes img {
    height: 5vh;
    width: 11vw;
  }

  .story-view-modal .likes-count {
    font-size: 1.9em;
  }
}
