.auth-modal {
  position: absolute;
  align-self: center;
  justify-self: center;
  inset: 40px;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  border-radius: 1.5em;
  outline: none;
  width: 30vw;
  height: 38vh;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  padding: 3em;
  font-weight: 600;
}
.cross-icon {
  position: absolute;
  top: 4vh;
  right: 3vw;
  cursor: pointer;
  height: 3vh;
  width: 1.5vw;
}

.modal-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-heading {
  margin-top: 3vh;
  font-size: 2em;
}

.modal-button {
  background-color: #73abff;
  width: 4vw;
  margin-top: 3vh;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2vw;
  margin-top: 5vh;
  margin-bottom: 3vh;
}

.form-inputs {
  display: flex;
  gap: 4vh;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5em;
}

.form-inputs input {
  height: 2.8vh;
  width: 12vw;
  padding: 0.3em;
}

.form-inputs .password-field {
  position: relative;
}

.password-field img {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 1.2vw;
  height: 2vh;
  cursor: pointer;
}

::placeholder {
  color: #8e8e8e;
  font-size: 0.7em;
  font-weight: 600;
  font-family: DM Sans;
}

@media only screen and (max-width: 450px) {
  .auth-modal {
    width: 60vw;
    height: 45vh;
  }

  form {
    gap: 6vh;
  }

  .form-inputs {
    flex-direction: column;
    gap: 0.2em;
    align-items: flex-start;
  }

  .form-inputs {
    font-weight: 600;
  }
  .form-inputs input {
    width: 46vw;
  }

  .modal-button {
    width: 22vw;
  }

  .password-field img {
    width: 4vw;
    height: 1.5vh;
  }

  .cross-icon {
    top: 3vh;
    right: 6vw;
    height: 3vh;
    width: 6.5vw;
  }
}
